.create_btn{
	min-width: auto;
}
.collection_pa{
  margin-top: 130px;
}
.mag_card{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.5);
  background-color: rgba(255,255,255,.05);
  position: relative;
}
.modal_purchase{
  background: #172650;
}
