.salebtn {
	padding: 1px 1px;
}
.items_pa{
  margin-top: 130px;
}
.mag_card{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.5);
  background-color: rgba(255,255,255,.05);
  position: relative;
}
.cre_itm{
  display: flex;
  justify-content: space-around;
}
