<!-- Footer -->
<footer id="footer">
  <div class="container">
    <!-- .footer-widget-area -->
    <div class="row ">

      <div class="col-lg-4">
        <div class="footer-widget footer-about">
          <img src="https://www.ingressdefi.it/assets/user/img/logo.png" alt="IngressDeFi">
          <p>The new creative economy.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <h6>Links</h6>
        <div class="row">
          <div class="col-lg-6">
            <a  href="https://www.ingressdefi.it/discover">Discover</a>
          </div>
          <div class="col-lg-6">
            <a  data-toggle="modal" data-target="#signInModal">Sign In </a>
          </div>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="footer-widget footer-newsletter">
          <h6>Join Newsletter</h6>
          <p>Subscribe our newsletter to get more free design course and resource
          </p>
          <div class="footer-links">
            <form method="POST" action="https://www.ingressdefi.it/subscriber-store" accept-charset="UTF-8" data-handler="showMessage" class="ajax"><input name="_token" type="hidden" value="fmcjNI7eiukmZGUPkT7TkwDKmSfZi3IafVdWdMPa">
              <div class="form-group position-relative mb-2">
                <input type="email" class="form-control" id="email-address" name="email_address" placeholder="Enter your email">
                <a href="" class="metaportal_fn_button m-4">Subscribe</a>

              </div>
            </form>
            <small class="ajax-alert"></small>
          </div>
        </div>
      </div>

    </div>
    <!--copyright-text-->

  </div>
  <div class="container">
    <div class="footer">
      <div class="left_part">
        <p>Copyright 2022 — Designed &amp; Developed by <a href="" target="_blank">aida khanomi khshgel khanoomi</a></p>
      </div>
      <div class="right_part">
        <ul>
          <li><a class="creative_link" href="privacy-policy.html">Privacy Policy</a></li>
          <li><a class="creative_link" href="cookies.html">Cookies</a></li>
          <li><a class="creative_link" href="terms-conditions.html">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- !Footer -->

<!--<footer class="footer-sec">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-3"> <img src="assets/images/logo.png" class="img-fluid mb-4">-->
<!--          <p>{{footer}}</p>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <h3 class="footer-heading">Community</h3>-->
<!--          <ul>-->
<!--            <li><a href="">Editorial</a></li>-->
<!--            <li><a href="">Discord</a></li>-->
<!--            <li><a href="">Instagram</a></li>-->
<!--            <li><a href="">Twitter</a></li>-->
<!--            <li><a [routerLink]="'/blogs'">Blog</a></li>-->
<!--            <li><a href="">Help center</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <h3 class="footer-heading">Join Us</h3>-->
<!--          <ul>-->
<!--            <li><a href="">Become a Creator</a></li>-->
<!--            <li><a href="">Become a User</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-3">-->
<!--          <h3 class="footer-heading">Legal</h3>-->
<!--          <ul>-->
<!--            <li><a href="">Community Guidelines</a></li>-->
<!--            <li><a href="">Terms Of Services</a></li>-->
<!--            <li><a [routerLink]="'/privacy'">Privacy Policy</a></li>-->
<!--            <li><a href="">Report Content</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-12 d-flex justify-content-center copyrights-cnt">-->
<!--          <p>© 2021 ingress defi Networks, Inc</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</footer>-->
<!-- -->
